{% extends 'base.html' %}

{% block content %}
<header class="hero">
    <h1>Твое Идеальное <span>Тело</span></h1>
    <p>Начни свой путь к здоровью и силе в самом современном фитнес-клубе города. Профессиональные тренеры, топовое оборудование и атмосфера мотивации.</p>
    <a href="{% url 'schedule:list' %}" class="btn-primary" style="font-size: 1.2rem; padding: 1rem 2rem;">Начать Тренировки</a>
</header>

<section class="container">
    <h2 class="section-title">Наши <span>Преимущества</span></h2>
    <!-- Здесь будет сетка преимуществ -->
</section>
{% endblock %}
